<header>
    <div class="navbar navbar-dark bg-white shadow-sm">
       <div class="navbar-brand align-item-center d-flex">
       
        <strong style="font-size: 30px; color:black"> <span style="color: red;"> U</span>ni<span style="color: red;">Q</span>ue</strong>

        <div class="form-group">
            <input type="text"  class="form-control" placeholder="Search for products, brands and more">
        </div>

        <span class="fas fa-search search-icon"></span>
       </div>

       <button routerLink="/cart" class="btn btn-light">
      
            <i  style="font-size: 20px;" class="fa-solid fa-cart-shopping"></i>
             <strong> Cart</strong>
        
       
        <div  style="font-size: 10px;"    class="badge bg-danger">{{totalItem}}</div>
       </button>

       
       
       
    </div>

    

</header>

